body {
    background: #CCCCCC;
   
}

h1{
    text-align: center;
}

p {
    text-align: center;
}

em strong {
    color: #FF0000;
}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50 px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px;
    border-radius: 10px;
}
.produtos li:hover{
    border-color: #C78C19;
}
.produtos li :active{

}